body{
    margin: auto 0;
    font-family: Arial;
    font-size: 14px;
    color: #ffffff;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 600px)
{
    .container{
        font-size:0.2em;
        padding: 0;
    }
}
img:hover {
    -webkit-box-shadow:rgba(255,255,255,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(255,255,255,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(255,255,255,255.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(255,255,255,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
#svgContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; 
  padding: 10px 10px;
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px; 
  border-width: 3px; 
  border-style: solid; 
  border-color: #000000; 
  border-radius: 0px 0px 0px 0px; 
  background-image: linear-gradient(#d55959,#3e809d);
  z-index: -10;
}
.imgSelect {
    -webkit-box-shadow:rgba(255,255,255,0.8) 0px 2px 3px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(255,255,255,0.8) 0px 2px 3px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(255,255,255,255.8) 0px 2px 3px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(255,255,255,0.8) 0px 2px 3px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.zone {
   cursor:pointer;
   color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 30vh;*/
    min-height: 30vh;
}

.grid-container {
  display: grid;
    grid-gap: 10px;
    /*grid-template-columns:repeat(3,1fr);*/
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}

.grid-item {
    background-color: #444;
    padding: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.grid-item > * {
  width: 100%;
}
.grid-item:hover {
   -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.orientation{
   display: inline-flex;
   width: 10%;
   height: 10%;
  /*align-self: baseline;*/
  justify-content: center;
  margin: 6px;
}
.orientation > img{
    width: 100%;
    height: 20px;
    border: 2px solid black;
    /*padding: 750px;*/
}
/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

.title{
  /*padding-left: : 100px;*/
  margin-left: 80px;
}


.divShadow{
  border: 2px solid black;
  margin: 10px;
  padding: 30px;
  /*display: contents;*/
}
.inline{
  height: 10%;
  width: 10%;
  margin: 3px;
  float: right;
  /*background-color: white;*/
}
.svgText {
  position: absolute;
  overflow-x: hidden; 
  width: 400px;
  z-index: 10;
  color: #ffffff;
  word-break: break-all;
  cursor: text;
  text-align: center;
}
.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  /*float: left;*/
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}